# miscellaneous files of quartus project
.qsys_edit/**
db/**
incremental_db/**
output_files/**
simulation/modelsim/**

# vvp simulation outputs
simulation/vvp/**

# quartus tutorial ** why here?
quartus_install.pdf

# backup files
*.bak

# output files
*.out

# simulation waveform files
*.vcd